
.odd{
    background-color: white;
    }

.even{
    background-color: #FAF0E6;
    }

.moi{
    width: 200px;
    align:center;
    display: block;
    margin : auto;
    list-style: none;
}

#thetable td {
    font-size: 15px;
}

.wrap {
    padding:10px;
}

#thetable .btn {
    margin: 5px auto;
}

#thetable .title {
    font-weight: bold;
}


body{
    background-color: #F0F9F7;
    }
a{
    color:white;

}
a:hover{
    text-decoration: none;
    color: white;
}
input {
    line-height: normal;
    width: 350px;
    height: 50px;
}
input[type="submit"]{
    background-color: tan;
    color: black;
}
.val{
    padding-top: 30px;
}
.container{
    padding-top: 30px;
}
p{
    color: #313131;
}
#bt{
    height: 35px;
    background-color: gray;
    color: white;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}
